* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.divider {
  border-bottom: solid 1px #ececec;
  margin: 10px 0;
}
.dark-divider {
  border-bottom: solid 1px #bebebe;
  margin: 10px 0;
}

/* Nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1876f2;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left, .nav-right  {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none ;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-right {
  gap: 16px;
}

.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.nav-user-icon {
  position: relative;
}

.online {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: limegreen;
  top: 0;
  right: 4px;
  border: 2px solid #fff
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}

.main-content {
  flex-basis: 47%;
}

.left-links a, .shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
  font-weight: 600;
}

.left-links a img {
  width: 25px;
  margin-right: 15px;
}

.left-links a:last-child {
  color: #1876f2;
  font-weight: normal;
}


.shortcut-links a {
  font-weight: normal;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcut-links p {
  margin: 25px 0;
  text-transform: capitalize;
  color: #626262;
  font-weight: 500;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.sidebar-title h4 {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-title a {
  color: #1876f2;
  font-size: 12px;
}

.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.event-left {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event-left h3 {
  font-size: 34px;
}

.event-left span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #d61111;
  color: #fff;
  padding: 4px 0;
  font-size: 10px;
  font-weight: 600;
}

.event-right h4 {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.event-right p {
  font-size: 12px;
  text-transform: capitalize;
}

.event-right a {
  font-size: 12px;
  color:#1876f2;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

img.hidden {
  display: none;
}

.online-user {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.online-user img {
  width: 40px;
  border-radius: 50%;
}

.online-user .online {
  left: 30px;
  top: unset;
  bottom: 0;
  width: 12px;
  height: 12px;
}

.online-user p {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.online-list.hidden {
  display: none;
  height: 100vh;
}

/* Main content styles */
.main-content {
  height: 100vh;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 2px solid #1876f2;
}

.story:first-child img {
  border: none;
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 35px;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.post-story {
  text-transform: capitalize;
}

.story-1 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("images/status-1.png");
}
.story-2 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("images/status-2.png");
}
.story-3 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("images/status-3.png");
}
.story-4 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("images/status-4.png");
}
.story-5 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("images/status-5.png");
}